.wrapper {
  width: 100%;
  padding: var(--spacing-large);
  text-align: center;
  background-color: var(--c-content-bg);
  border-radius: var(--border-radius-default);
}

.heading {
  margin-bottom: var(--spacing-default);
}

.ssoLoginWrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-small);
}
