html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--c-page-bg);
  color: var(--c-text);
  font-family: var(--font-family);
  font-size: var(--text-default-font-size);
  line-height: var(--text-default-line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: initial;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--spacing-default);
}

a,
button {
  cursor: pointer;

  &[disabled],
  &[aria-disabled] {
    cursor: not-allowed;
  }
}

a {
  color: var(--c-accent-primary);
  text-decoration: underline;

  &:hover,
  &:focus-within {
    text-decoration: none;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
