:root {
  /* Limits */
  --max-content-width: 480px;

  /* Spacing */
  --spacing-default: 20px;
  --spacing-xSmall: 5px;
  --spacing-small: 10px;
  --spacing-large: 40px;
  --spacing-xLarge: 80px;

  /* Border */
  --border-radius-default: 10px;
}
